body{
    font: 16px/16px "Times New Roman", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
}
form {
    /*position: absolute;*/
    top: 10px;
    left: 10px;
}

label{
    font: 18px/18px "Times New Roman", Helvetica, Arial, sans-serif;
}



table{
    text-align: center
}

.add-row{
    top: 10px;
    left: 10px;
}

table, th, td {
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;

}

td select {
    border: none;
}

.deleteRow{
    color: red;
}


.input_data{
    
}







/*.coeff .dot {*/
/*    fill: hsla(207, 63%, 27%, 0.2);*/
/*}*/
/*.coeff.last .dot {*/
/*    fill: hsla(207, 63%, 27%, 1.0);*/
/*}*/
/*.coeff .circle {*/
/*    fill: none;*/
/*    stroke: hsl(0, 0%, 70%);*/
/*}*/
/*.coeff.first .circle {*/
/*    fill: none;*/
/*    stroke: hsl(0, 0%, 30%);*/
/*}*/
/*.coeff.last .circle {*/
/*    display: none;*/
/*}*/
/*.graph {*/
/*    fill: none;*/
/*    stroke: steelblue;*/
/*    stroke-width: 3px;*/
/*}*/
/*.trace {*/
/*    fill: none;*/
/*    stroke: steelblue;*/
/*}*/
/*.proj {*/
/*    fill: none;*/
/*    stroke: #000;*/
/*}*/

.axis{
    font-size: 10;
    stroke-opacity:0.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.domain{
    fill:none;
    stroke:#000;
}

.tick line{
    stroke:#000;
}

.in-line{
    stroke:#000;
    stroke-width:1;
    stroke-dasharray:5, 5;
}

.out-line{
    stroke:#000;
    stroke-width:1;
}

.moveable{
    stroke-width: 1px;
    stroke:#000;
    cursor: pointer;
    cursor: hand;
}




.axis .grid-line {
  stroke: #000;
  shape-rendering: crispedges;
  stroke-opacity: 0.2;
}

.axis text {
    font: 15px sans-serif;
}

.axis line,
.axis circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 10,4;
}

.axis :last-of-type circle {
    stroke: #333;
    stroke-dasharray: none;
}

.line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}






